<%= provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
  <h2>
    <%= link_to t(".english"), locale: :en %>
    <%= link_to t(".vietnam"), locale: :vi %>
  </h2>
  <h1><%= t ".title" %></h1>
  <h2>
    <%= t ".title_first" %>
    <%= link_to t(".ruby_and_tutorial") , Settings.home.tutorial_ruby_on_rails, target: :_blank %>
    <%= t ".title_last" %>
  </h2>
  <%= link_to t(".btn_signup"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails2.jpeg", alt: "Rails logo", width: "200px"),
  Settings.home.tutorial_rails, target: :_blank %>
